<div class="container">
    <div class="row">
        <div class="col-md-6">
            <label>{{b1[0].typ}}</label>
            <table class="ne table table-bordered">
                <tr ng-repeat="b in b1">
                    <td>{{b.rad}}</td>
                    <td>{{b.radText}}</td>
                    <td>{{b.saldo | float}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <label>{{b6[0].typ}}</label>
            <table class="ne table table-bordered">
                <tr ng-repeat="b in b6">
                    <td>{{b.rad}}</td>
                    <td>{{b.radText}}</td>
                    <td>{{b.saldo | float}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>{{b6[0].typ}}</label>
            <table class="ne table table-bordered">
                <tr ng-repeat="b in b6">
                    <td>{{b.rad}}</td>
                    <td>{{b.radText}}</td>
                    <td>{{b.saldo | float}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <label>{{b13[0].typ}}</label>
            <table class="ne table table-bordered">
                <tr ng-repeat="b in b13">
                    <td>{{b.rad}}</td>
                    <td>{{b.radText}}</td>
                    <td>{{b.saldo | float}}</td>
                </tr>
            </table>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6">
            <label>{{r1[0].typ}}</label>
            <table class="ne table table-bordered">
                <tr ng-repeat="b in r1">
                    <td>{{b.rad}}</td>
                    <td>{{b.radText}}</td>
                    <td>{{b.saldo | float}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <label>{{r9[0].typ}}</label>
            <table class="ne table table-bordered">
                <tr ng-repeat="b in r9">
                    <td>{{b.rad}}</td>
                    <td>{{b.radText}}</td>
                    <td>{{b.saldo | float}}</td>
                </tr>
            </table>
            <label>{{r11[0].typ}}</label>
            <table class="ne table table-bordered">
                <tr ng-repeat="b in r11">
                    <td>{{b.rad}}</td>
                    <td>{{b.radText}}</td>
                    <td>{{b.saldo | float}}</td>
                </tr>
            </table>
        </div> 
    </div>

    <div class="row">
        <div class="col-md-6">
            <label>{{r5[0].typ}}</label>
            <table class="ne table table-bordered">
                <tr ng-repeat="b in r5">
                    <td>{{b.rad}}</td>
                    <td>{{b.radText}}</td>
                    <td>{{b.saldo | float}}</td>
                </tr>
            </table>
        </div>
 
    </div>

</div>
