<div class="grey bottom" style="  position: fixed; text-align: center; ">
    <a class="btn btn-lg btn-default left"  ng-click="clear()" style="margin:2px;">
        <span class="glyphicon glyphicon-remove"></span>
    </a>

    <a class="btn btn-lg btn-primary" ng-click="addFile()" style="margin: 0 auto;">
        <span class="glyphicon glyphicon-paperclip"></span>
    </a>

    <button class="btn btn-lg btn-success right" type="submit" style="margin:2px;">
        <span class="glyphicon glyphicon-ok"></span>
    </button>
    <div class="clear"></div>
</div>